.nav {
  display: flex;
  gap: 20px;
}
.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  background-color: #f0f0f0;
  color: orangered;
}
.active {
  color: orangered;
}
